title: "Quantum AI Blog"
description: "Quantum x AI"
theme: minima

markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax
  syntax_highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
